.content {
    margin-top:50px;
    color:#fff;
}

.content > .content_head p {
    font-size:26px;
    font-weight:500;
}

.content > .content_subtext p {
    width:auto;
    font-size:16px;
    line-height:20px;
}

.index_stats {
	position: relative;
	 width:auto;
	 min-height:125px;
	 height:auto !important;
  	 margin-right:25px;
	 margin-top:25px;
	 font-size:14px;
	 text-align:center;
}

.index_stats div {
	height:85px;
	width:160px;
	background:white;
	background-color:#3a74bc;
	padding:10px;
	cursor:pointer;
	float:left;
	margin-right:25px;
	margin-bottom:25px;
	box-shadow:0px 0px 5px 3px rgba(0,0,0,0.12);
	
	transition: all 0.1s ease-in;
	-o-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
}

.index_stats div:hover {
	border:3px solid rgba(255,255,255,0.18);
	background-color:#3a90bc;
	box-shadow:0px 3px 5px 5px rgba(0,0,0,0.01);
}

.index_stats span { 
	margin-top:0px;
}
.index_stats div b {
	margin-top:0px;
}
	

.index_stats div p {
	font-size:30px;
	margin-top:10px;
}

.thumbnail {
    width:200px;
    height:200px;
}

.thumbnail > .news_title {
    text-align:center;
    font-size:18px;
    font-weight:bold;
    margin-top:60px;
    text-shadow:1px 1px 1px black;
}

.thumbnail > .news_date {
    text-align:center;
    font-size:18px;
    font-weight:bold;
    text-shadow:1px 1px 1px black;
}

.thumbnail > .news_title a {
    color:white;
    text-shadow:1px 1px 1px black;
    font-weight:bold;
}