@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

*{
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body {
    height: 100%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
        font-family: 'Roboto', sans-serif;
        font-weight:300;
        font-size:light;
}

footer {
	position: absolute;
    bottom: 0px;
	width:100%;
	height:100px;
	background:#222222;
	color:#727272;
}

footer > p:first-child {
	margin-top:25px;
}

footer a {
	color:#cecece;
	text-decoration:none;
	transition: ease-in 0.1s text-shadow;
	-o-transition: ease-in 0.1s text-shadow;
	-ms-transition: ease-in 0.1s text-shadow;
	-moz-transition: ease-in 0.1s text-shadow;
	-webkit-transition: ease-in 0.1s text-shadow;	
}

footer a:hover {
	text-shadow:0px 0px 3px white;
}

footer p {
	font-family: 'Roboto', sans-serif;
	font-size:12px;
	margin-top:10px;
	margin-left:50px;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-color: #303030;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
    text-decoration:none;
}

b {
    font-weight:500;
}

.vr {
	height:auto;
	min-height:25px;
	margin-top:10px;
	float:left;
	margin-right:50px;
	width:2px;
	background:black;
	border-right:1px solid white;
	opacity:0.1;
}

#fullpage {
	position: relative;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

#content {
	padding-bottom: 200px;
}

.linie {
        height:auto;
	min-height:1px;
	margin-top:10px;
	margin-right:50px;
	width:auto;
	background:black;
	opacity:0.1;
        margin-bottom:20px;
}

.container {
    width:960px;
    z-index:1000;
    margin:0 auto;
    /* border:1px solid black; */
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
 
.clearfix {display: inline-block;}
 
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

.navigation {
    width:100%;
    height:45px;
	position:relative;
    background-color:#3a74bc;
	-webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.2);
	-ms-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.2);
	-o-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.2);
	box-shadow: 0 8px 6px -6px rgba(0,0,0,0.2);
	z-index:1001;
}

.navigation > .navigation_links > .container li {
    list-style:none;
    color:#fff;
    font-size:12px;
    line-height:45px;
    float:left;
    margin-right:50px;
	transition: ease-in 0.1s text-shadow;
	-o-transition: ease-in 0.1s text-shadow;
	-ms-transition: ease-in 0.1s text-shadow;
	-moz-transition: ease-in 0.1s text-shadow;
	-webkit-transition: ease-in 0.1s text-shadow;	
}

.navigation > .navigation_links > .container li:hover {
	text-shadow:0px 0px 3px white;
}

.bigimg {
    width:100%;
    height:500px;
}

.bigimg > .container > .left_slider_content {
    float: left; 
    width: auto
}

.bigimg > .container > .left_slider_content > .left_headtitle p {
  
    color:#fff;
    line-height:50px;
    font-size:32px;
    font-weight:350;
    text-shadow:0px 1px 2px black;
    margin-top:70px;
    margin-bottom:20px;
    
}

.bigimg > .container > .left_slider_content > .left_subtext p {
    color:#fff;
    line-height:20px;
    font-weight:300;
    text-shadow:1px 1px 2px black;
    margin-bottom:40px;
}

.bigimg > .container > .left_slider_content > .left_slider_button > .reg_button {
    width:200px;
    height:45px;
    padding: 15px;
    text-align:center;
    background:rgba(255,255,255,0.1);
    border:2px solid #fff;
    cursor:pointer;
    color:#fff;
    font-size:13px;
    font-weight:bold;
    float:left;
    margin-right:10px;
}

div[engine="BeaverSlider"] > div:nth-child(2)  {
    box-shadow: inset 0 0 100px  rgba(0,0,0,0.5);
}

div[engine="BeaverSlider"] > div:last-child {
    box-shadow: none;
}

#navi_logo {
	background:url('../img/main/logo.png') no-repeat;
	height:26px;
	width:26px;
	margin-top:8px;
}

#back-top {
	cursor:pointer;
    border-radius: 6px;
    -webkit-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    background: #3a74bc;
    bottom: 30px;
    color: #fff;
    font-size: 2rem;
    height: 2.6rem;
    position: fixed;
    right: 30px;
    text-align: center;
    width: 2.6rem;
    z-index: 1000;
}

#back-top span {
	font-size:15px;
	text-align:center;
}

#back-top:hover {
	background:#4c8ee0;
}

