.container > .content {
    margin-top:50px;
    color:white;
}

.container > .content > .news_subinfo {
    font-size:11px;
}

.container > .content > .left > .news_content {
    font-size:14px;
}

.container > .content > .left > .comment_content {
    margin-top:100px;
}

.user_input {
    width:500px;
    height:40px;
    border:2px solid #1c1c1c;
    background-color:#262626;
    color:#fff;
    font-family: 'Roboto', sans-serif;
    padding:10px;
}

.comment_input {
    border:2px solid #1c1c1c;
    background-color:#262626;
    color:#fff;
    width:500px; 
    max-width:500px; 
    height:100px; 
    min-height:100px;
    min-width:500px;
    font-family: 'Roboto', sans-serif;
    font-size:13px;
    padding:10px;
}

.comment_submit {
    border:2px solid #2c5571;
    background-color:#4788b5;
    color:#fff;
    width:500px;
    height:40px;
}

.container > .content > .left > .tags {
    margin-top:30px;
    font-size:10px;
}

.container > .content > .left > .tags > .tagbox {
    background:#141414;
    height:18px;
    text-align:center;
    line-height:15px;
    width:85px;
    border-radius:2px;
    border:1px solid #2980b9;
    float:left;
    margin-right:10px;
}

.container > .content .commentbox {
    width:300px;
    height:auto;
    border-radius:3px;
}

.container > .content .commentbox p {
   padding:10px;
   line-height:30px;
}

.container > .content .comment_title p {
    width:300px;
    height:auto;
    text-align:left;
    padding:10px;
    font-size:13px;
}

.container > .content .comment_content p {
    width:300px;
    height:auto;
    text-align:left;
    padding:10px;
    font-size:13px;
    margin-top:-33px;
}



.left {
    width:650px;
}

.right {
    float:right;
    width:300px;
}