.form_container {
    margin-top:50px;
    height:auto;
    width:450px;
}

.g-recaptcha {
    /*transform:scale(1.66);*/
    transform-origin:0 0;
}

#captcha {
	width:100%;
	height:240px;
}

.form_container > h1 {
    color:white;
    font-size:34px;
    padding-bottom:10px;
    padding-top:10px;
}

.inputStyle {
  width:100%;
  padding:10px;
  border: solid 5px #c9c9c9;
  transition: border 0.3s;
  margin-bottom:5px;
  margin-top:5px;
  outline:0;
}

#errorBox {
    height:auto;    
    min-height:40px;
    display:none;
    border:3px solid black;
    width:100%;
    background:#843939;
    margin-bottom:10px;
    border-color: rgb(185, 74, 72);
}

#errorBox div:empty {
    display:none;
}

#errorBox div {
    color:white;
    padding:10px;
    font-size:12px;
}

.valid {
    border: solid 5px #79a559;
}

.inputStyle:focus,
.inputStyle.focus {
  border: solid 5px #969696;
}

label {
    cursor: pointer;
}

input[type=checkbox] {
	visibility: hidden;
}

#checkbox_div {
	color:white;
	height:auto;
	min-height:40px;
	width:100%;
	margin-bottom:10px;
 	margin-top:10px;
	background:rgba(58, 116, 188, 0.5);
	border:3px solid rgba(58, 116, 188, 1);
	border-radius:5px;
	padding:10px;
	
}
#checkbox_div > .subtext {
	height:auto;
	clear:both;
	margin-left:20px;
	font-weight:bold;
	font-size:11px;
}

#checkbox_div > .label {
	height:auto;
	float:left;
	margin-left:5px;
	font-weight:bold;
	margin-top:3px;
}

.checkbox {
	float:left;
	width: 20px;
	height: 20px;
	background: #ddd;

	border-radius: 100%;
	position: relative;
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}

.checkbox label {
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 100px;

	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
	cursor: pointer;
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 1;
	background: #333;

	-webkit-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
}


.checkbox input[type=checkbox]:checked + label {
	background: #59a5ff;
}


input[type=submit] {
  width:100%;
  outline:0;
  height:40px;
  font-size: 16px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #3a74bc;
  border: 0;
  border-bottom: 2px solid #2a8bcc;
  cursor: pointer;
}

input[type=reset] {
  width:100%;
  outline:0;
  margin-top:10px;
  height:40px;
  font-size: 16px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #3a74bc;
  border: 0;
  border-bottom: 2px solid #2a8bcc;
  cursor: pointer;
}

input[type=submit]:active {
  margin-top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.left {
    width:500px;
}

.right {
    float:right;
    width:450px;
}

.right > .register_info p {
    color:white;
    margin-top:50px;
    margin-left:50px;
}